h1, h2{
    color: darkslategrey;
}

.spring {
    color: green;

}

.summer {
    color: goldenrod;
}

.autumn {
    color: firebrick;
}

.winter {
    color: dodgerblue;
}

#main_title {
    color: midnightblue;
}